/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}




















@media (max-width: 1111px){
    .fa-bars{
        display: block;
        font-size: 30px;
        color: #d03958;
    }
    
    ul{
        display: none;
    }
   
    .article__text{
        top: 400px;
        width: 400px;
    }

    .column{
        display: table;
    }
   
    
    
    
}








